<div class="col-lg-2">
    <ul class="nav nav-tabs nav-stacked">
        <li ng-class="{'navigation-active': menuItem === 'sources' || menuItem === 'source'}"><a href="#/sources">Data Source</a></li>
        <li ng-class="{'navigation-active': menuItem === 'configs' || menuItem === 'config'}"><a href="#/configs">Setup Configurations</a></li>
        <li ng-class="{'navigation-active': menuItem === 'queues' || menuItem === 'queue'}"><a href="#/queues">Queue Data</a></li>
        <li ng-class="{'navigation-active': menuItem === 'registrations' || menuItem === 'registration'}"><a href="#/registrations">Registrations</a></li>
        <li ng-class="{'navigation-active': menuItem === 'forms'}"><a href="#/forms">Muzima Forms</a></li>
        <li ng-class="{'navigation-active': menuItem === 'errors' || menuItem === 'error'}"><a href="#/errors">Error Data</a></li>
        <li ng-class="{'navigation-active': menuItem === 'duplicates' || menuItem === 'duplicate'}"><a href="#/duplicates">Potential Duplicates</a></li>
        <li ng-class="{'navigation-active': menuItem === 'patientReports' || menuItem === 'patientReport'}"><a href="#/reportConfigs">Patient Reports</a></li>
        <li ng-class="{'navigation-active': menuItem === 'settings' || menuItem === 'setting'}"><a href="#/settings">Settings</a></li>
        <li ng-class="{'navigation-active': menuItem === 'cohortDefinitions' || menuItem === 'cohortDefinition'}"><a href="#/cohortDefinitions">Cohort Definitions</a></li>
    </ul>
</div>