<div class="row">
    <div class="col-sm-12">
        <label class="alert alert-success w-100">{{'cohort_definition_alert' | translate}}</label>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-3">
        {{'info_cohort_name' | translate}} <span class="required">*</span> :
    </div>
    <div class="col-sm-9">
        <input class="form-control" ng-model="cohortDefinition.name" translate translate-attr-placeholder="info_cohort_name">
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        {{'general_description' | translate}} <span class="required">*</span>:
    </div>
    <div class="col-sm-9">
        <textarea class="form-control" ng-model="cohortDefinition.description" translate translate-attr-placeholder="info_cohort_description"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <hr />
    </div>
</div>
<div class="row" ng-show="enableDynamicCohort == undefined || enableDynamicCohort == false">
    <div class="col-sm-12">
        <label class="alert alert-info w-100">
        {{'cohort_definition_info' | translate}}
        </label>
        <label class="alert alert-success w-100">{{'cohort_definition_question' | translate}} <span class="required">*</span></label>
        <label class="w-25 offset-2">
            <input type="radio" ng-value="true"
                   ng-model="enableDynamicCohort"> {{'general_yes' | translate}}
        </label>
        <label  class="w-25"><input type="radio" ng-value="false"
                                    ng-model="enableDynamicCohort"> {{'general_no' | translate}}
        </label>
    </div>
</div>
<div class="row bg-light" ng-show="enableDynamicCohort">
    <div class="col-sm-6">
        <label class="w-100 alert alert-success">{{'cohort_definition_query' | translate}}</label>
        <textarea class="form-control" ng-model="cohortDefinition.definition"
                  translate translate-attr-placeholder="cohort_definition_query_info" rows="5"></textarea>

    </div>
    <div class="col-sm-6" style="margin: auto">
        <div class="row">
            <div class="" title="{{'add_member_tooltip_info' | translate}}">
                <input type="checkbox"  ng-model="cohortDefinition.isMemberAdditionEnabled" > {{'add_member_label' | translate}} &#9432;
            </div>
        </div>
        <div class="row">
            <div class="" title="{{'remove_member_tooltip_info' | translate}}">
                <input type="checkbox"  ng-model="cohortDefinition.isMemberRemovalEnabled"> {{'remove_member_label' | translate}} &#9432;
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="enableDynamicCohort == true">
    <div class="col-sm-12">
        <hr />
    </div>
</div>
<div class="row" ng-show="enableDynamicCohort == true && (enableCohortFilters == undefined || enableCohortFilters == false)">
    <div class="col-sm-12">
        <label class="alert alert-info w-100">
        {{'cohort_definition_filter_alert' | translate}}
        </label>

        <label class="alert alert-success w-100">{{'cohort_definition_filter_question' | translate}} <span class="required">*</span></label>
        <label class="w-25 offset-2">
            <input type="radio" ng-value="true"
                   ng-model="enableCohortFilters"> {{'general_yes' | translate}}
        </label>
        <label  class="w-25"><input type="radio" ng-value="false"
                                    ng-model="enableCohortFilters"> {{'general_no' | translate}}
        </label>
    </div>
</div>
<div class="row bg-light" ng-show="enableCohortFilters">
    <div class="col-sm-6">
        <label class="w-100 alert alert-success">{{'cohort_definition_filter_label' | translate}}</label>
        <textarea class="form-control" ng-model="cohortDefinition.filterQuery"
                  translate translate-attr-placeholder="cohort_definition_filter_info" rows="5"></textarea>
    </div>
    <div class="col-sm-6" style="margin: auto">
        <div class="row">
            <div title="{{'filter_by_provider_tooltip' | translate}}">
                <input type="checkbox"  ng-model="cohortDefinition.isFilterByProviderEnabled"> {{'filter_by_provider_label' | translate}} &#9432;
            </div>
        </div>
        <div class="row">
            <div title="{{'filter_by_location_tooltip' | translate}}">
                <input type="checkbox"  ng-model="cohortDefinition.isFilterByLocationEnabled"> {{'filter_by_location_label' | translate}} &#9432;
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-9">
        <button class="btn btn-primary btn-md pull-right" ng-disabled="!isAllRequiredFieldsEntered()"
        ng-click="saveCohortAndCohortDefinition(cohortDefinition)">
            {{'general_validate_save' | translate}}
        </button>
    </div>
</div>
