<table class="table table-borderless table-hover shadow">
    <tr class="{{wizardStage > 1 ? 'wizard-completed':''}} {{wizardStage == 1 ? 'wizard-active':''}}">
        <td>{{'general_description' | translate}} <i ng-show="wizardStage > 1" class="fa fa-check-circle pull-right"></i> </td>
    </tr>
    <tr class="{{wizardStage > 2 ? 'wizard-completed':''}} {{wizardStage == 2 ? 'wizard-active':''}}">
        <td>{{'general_forms' | translate}} <i ng-show="wizardStage > 2" class="fa fa-check-circle pull-right"></i></td>
    </tr>
    <tr class="{{wizardStage > 3 ? 'wizard-completed':''}} {{wizardStage == 3 ? 'wizard-active':''}}">
        <td>{{'general_cohorts' | translate}} <i ng-show="wizardStage > 3" class="fa fa-check-circle pull-right"></i></td>
    </tr>
    <tr class="{{wizardStage > 4 ? 'wizard-completed':''}} {{wizardStage == 4 ? 'wizard-active':''}}">
        <td>{{'general_concepts' | translate}} <i ng-show="wizardStage > 4" class="fa fa-check-circle pull-right"></i></td>
    </tr>
    <tr class="{{wizardStage > 5 ? 'wizard-completed':''}} {{wizardStage == 5 ? 'wizard-active':''}}">
        <td>{{'general_locations' | translate}} <i ng-show="wizardStage > 5" class="fa fa-check-circle pull-right"></i></td>
    </tr>
    <tr class="{{wizardStage > 6 ? 'wizard-completed':''}} {{wizardStage == 6 ? 'wizard-active':''}}">
        <td>{{'general_providers' | translate}} <i ng-show="wizardStage > 6" class="fa fa-check-circle pull-right"></i></td>
    </tr>
    <tr class="{{wizardStage > 7 ? 'wizard-completed':''}} {{wizardStage == 7 ? 'wizard-active':''}}">
        <td>{{'general_settings' | translate}} <i ng-show="wizardStage > 7" class="fa fa-check-circle pull-right"></i></td>
    </tr>
    <tr class="{{wizardStage > 8 ? 'wizard-completed':''}} {{wizardStage == 8 ? 'wizard-active':''}}">
        <td>{{'general_review' | translate}} <i ng-show="wizardStage > 8" class="fa fa-check-circle pull-right"></i></td>
    </tr>
</table>