<div id="wide-sidebar" class="row">
    <side-navigation menu-item="cohortDefinition"></side-navigation>
    <div class="col-lg-8">
        <div id='wait' class='loader'>
            &nbsp;
        </div>
        <div ng-switch="mode">
            <div ng-switch-when="view">
                <div class="row">
                    <input class="form-control" type="text" disabled=""  ng-model="cohortDefinition.name">
                </div>
                <div class="row">
                    <textarea class="form-control" translate translate-attr-placeholder="info_cohort_description" rows="2"
                              disabled="" ng-model="cohortDefinition.description">
                    </textarea>
                </div>
                <div class="row">
                    <textarea class="form-control" translate translate-attr-placeholder="cohort_definition_query_info" rows="9"
                           disabled="" ng-model="cohortDefinition.definition">
                        </textarea>
                </div>
                <div class="row" ng-show="isLocationParameter">
                    <select class="form-control" ng-model="cohortDefinition.location" ng-options="location.id as location.name for location in locations">
                    </select>
                </div>
                <div class="row">
                    <textarea class="form-control" translate translate-attr-placeholder="cohort_definition_filter_info" rows="9"
                        disabled="" ng-model="cohortDefinition.filterQuery">
                    </textarea>
                </div>
                <div class="row">
                    <div class="" title="{{'tooltip_scheduled' | translate}}">
                        <input disabled="" type="checkbox"  ng-model="cohortDefinition.isScheduledForExecution"> {{'label_enable_scheduler_task' | translate}} &#9432;
                    </div>
                </div>
                <div class="row">
                    <div class="" title="{{'add_member_tooltip_info' | translate}}">
                        <input disabled="" type="checkbox"  ng-model="cohortDefinition.isMemberAdditionEnabled" > {{'add_member_label' | translate}} &#9432;
                    </div>
                </div>
                <div class="row">
                    <div class="" title="{{'remove_member_tooltip_info' | translate}}">
                        <input disabled="" type="checkbox"  ng-model="cohortDefinition.isMemberRemovalEnabled"> {{'remove_member_label' | translate}} &#9432;
                    </div>
                </div>
                <div class="row">
                    <div class="" title="{{'filter_by_provider_tooltip' | translate}}">
                		<input  disabled="" type="checkbox"  ng-model="cohortDefinition.isFilterByProviderEnabled"> {{'filter_by_provider_label' | translate}} &#9432;
                    </div>
                </div>
                <div class="row">
                     <div class="" title="{{'filter_by_location_tooltip' | translate}}">
                        <input disabled="" type="checkbox"  ng-model="cohortDefinition.isFilterByLocationEnabled"> {{'filter_by_location_label' | translate}} &#9432;
                     </div>
                </div>
                <div class="row" ng-show="cohortDefinitionExecuted && isProcessingSuccessfull">
                    <div class="alert alert-success w-100">{{'cohort_execution_successful' | translate}}</div>
                </div>
                <div class="row" ng-show = "cohortDefinitionExecuted && !isProcessingSuccessfull">
                    <div class="alert alert-success w-100">{{'cohort_execution_failed' | translate}}</div>
                </div>
                <div class="row d-flex">
                    <div class="ml-auto">
                        <button type="submit" ng-click="edit()" class="btn btn-primary">{{'general_edit' | translate}}</button>&nbsp;
                        <button type="submit" ng-click="cancel()" class="btn btn-warning">{{'general_close' | translate}}</button>&nbsp;
                        <button type="submit" ng-click="processDefinition(cohortDefinition)" ng-show="cohortDefinition.uuid" class="btn btn-success">{{'general_run_now' | translate}}</button>
                    </div>
                </div>
                <span></span>
            </div>
            <div ng-switch-when="edit">
                <form id="definition" name="definition">
                    <div class="row">
                        <select class="form-control" ng-model="cohortDefinition.cohortid" ng-change="cohortselected(cohortDefinition,cohorts)"
                                 ng-disabled="cohortDefinition.uuid" ng-options="cohort.id as cohort.name for cohort in cohorts">
                        </select>
                    </div>
                    <div class="row">
                    <textarea class="form-control" translate translate-attr-placeholder="info_cohort_description" rows="2"
                              disabled="" ng-model="cohortDefinition.description">
                    </textarea>
                    </div>
                    <div class="row">
                    <textarea class="form-control" translate translate-attr-placeholder="cohort_definition_query_info" rows="9" required="required"
                              ng-disabled="definitioninputdisabled(cohortDefinition.uuid)" ng-model="cohortDefinition.definition">
                        </textarea>
                    </div>
                    <div class="row" ng-show="isLocationParameter">
                        <select class="form-control" ng-model="cohortDefinition.location" ng-options="location.id as location.name for location in locations">
                        </select>
                    </div>
                    <div class="row">
                            <textarea class="form-control" translate translate-attr-placeholder="cohort_definition_filter_info" rows="9"
                                      ng-disabled="definitioninputdisabled(cohortDefinition.uuid)" ng-model="cohortDefinition.filterQuery">
                            </textarea>
                    </div>
                    <div class="row" title="{{'tooltip_scheduled' | translate}}">
                        <div class="">
                            <input ng-disabled="definitioninputdisabled(cohortDefinition.uuid)" type="checkbox"  ng-model="cohortDefinition.isScheduledForExecution"> {{'label_enable_scheduler_task' | translate}} &#9432;
                        </div>
                    </div>
                    <div class="row">
                        <div class="" title="{{'add_member_tooltip_info' | translate}}">
                            <input ng-disabled="definitioninputdisabled(cohortDefinition.uuid)" type="checkbox"  ng-model="cohortDefinition.isMemberAdditionEnabled"> {{'add_member_label' | translate}} &#9432;
                        </div>
                    </div>
                    <div class="row">
                        <div class="" title="{{'remove_member_tooltip_info' | translate}}">
                            <input  ng-disabled="definitioninputdisabled(cohortDefinition.uuid)" type="checkbox"  ng-model="cohortDefinition.isMemberRemovalEnabled"> {{'remove_member_label' | translate}} &#9432;
                        </div>
                    </div>
                    <div class="row">
                        <div class="" title="{{'filter_by_provider_tooltip' | translate}}">
                            <input  ng-disabled="definitioninputdisabled(cohortDefinition.uuid)" type="checkbox"  ng-model="cohortDefinition.isFilterByProviderEnabled"> {{'filter_by_provider_label' | translate}} &#9432;
                        </div>
                    </div>
                    <div class="row">
                        <div class="" title="{{'filter_by_location_tooltip' | translate}}">
                            <input  ng-disabled="definitioninputdisabled(cohortDefinition.uuid)" type="checkbox"  ng-model="cohortDefinition.isFilterByLocationEnabled"> {{'filter_by_location_label' | translate}} &#9432;
                        </div>
                    </div>
                    <div class="row">
                        <input class="form-control retire-reason" translate translate-attr-placeholder="general_retire_reason" name="retire_reason" type="text" ng-model="cohortDefinition.retireReason" ng-show="retireCohortDefinition" ng-required="retireCohortDefinition"/>
                    </div>
                    <div class="row d-flex">
                        <div class="ml-auto">
                            <button type="submit" ng-disabled="definitionsavingdisabled(cohortDefinition.definition)" ng-click="save(cohortDefinition)" class="btn btn-success">{{'general_save' | translate}}</button>&nbsp;
                            <button ng-click="toggleRetireCohortDefinition()" ng-show="!retireCohortDefinition && cohortDefinition.uuid" class="btn btn-danger">{{'general_retire' | translate}}</button>
                            <button type="submit" ng-show="retireCohortDefinition" ng-click="definition.$valid && delete(cohortDefinition)" class="btn btn-danger">{{'general_retire' | translate}}</button>&nbsp;
                            <button type="submit" ng-click="cancel()" class="btn btn-warning">{{'general_cancel' | translate}}</button>
                        </div>
                    </div>
                    <span></span>
                </form>
                </div>
        </div>
    </div>
</div>
<footer></footer>