<div id="wide-sidebar" class="row">
    <div class="col-lg-2">
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="#/sources">Data Source</a></li>
            <li><a href="#/configs">Setup Configurations</a></li>
            <li><a href="#/queues">Queue Data</a></li>
            <li><a href="#/registrations">Registrations</a></li>
            <li><a href="#/forms">Muzima Forms</a></li>
            <li><a href="#/errors">Error Data</a></li>
            <li><a href="#/settings">Settings</a></li>
            <li class="navigation-active"><a href="#/cohortdefinitions">Cohort Definitions</a></li>
        </ul>
    </div>
    <div class="col-lg-8">
        <div ng-switch="mode">
            <div ng-switch-when="view">
                <div class="row col-lg-8">
                    <input class="form-control" type="text" disabled=""  ng-model="cohortdefinition.name">
                </div>
                <div class="row col-lg-8">
                    <textarea class="form-control" placeholder="Cohort description ..." rows="3"
                              disabled="" ng-model="cohortdefinition.description">
                    </textarea>
                </div>
                <div class="row col-lg-8">
                    <textarea class="form-control" placeholder="SQL Definition ..." rows="10"
                           disabled="" ng-model="cohortdefinition.definition">
                        </textarea>
                </div>
                <div class="row col-lg-8">
                    <div class="">
                        <input disabled="" type="checkbox"  ng-model="cohortdefinition.isscheduled"> Enable scheduled task for this cohort definition
                    </div>
                </div>
                <div class="row col-lg-8">
                    <div class="">
                        <input disabled="" type="checkbox"  ng-model="cohortdefinition.enableMemberAddition"> Enable Addition of members
                    </div>
                </div>
                <div class="row col-lg-8">
                    <div class="">
                        <input disabled="" type="checkbox"  ng-model="cohortdefinition.enableMemberRemoval"> Enable Removal of members
                    </div>
                </div>
                <div class="row col-lg-8">
                    <button type="submit" ng-click="edit()" class="btn">Edit</button>
                    <button type="submit" ng-click="cancel()" class="btn">Close</button>
                </div>
                <span></span>
            </div>
            <div ng-switch-when="edit">
                <form id="definition">
                    <div class="row col-lg-8">
                        <select class="form-control" ng-model="cohortdefinition.cohortid" ng-change="cohortselected(cohortdefinition,cohorts)"
                                 ng-disabled="cohortdefinition.uuid" ng-options="cohort.id as cohort.name for cohort in cohorts">
                        </select>
                    </div>
                    <div class="row col-lg-8">
                    <textarea class="form-control" placeholder="Cohort description ..." rows="3"
                              disabled="" ng-model="cohortdefinition.description">
                    </textarea>
                    </div>
                    <div class="row col-lg-8">
                    <textarea class="form-control" placeholder="SQL Definition..." rows="10" required="required"
                              ng-disabled="definitioninputdisabled(cohortdefinition.uuid)" ng-model="cohortdefinition.definition">
                        </textarea>
                    </div>
                    <div class="row col-lg-8">
                        <div class="">
                            <input ng-disabled="definitioninputdisabled(cohortdefinition.uuid)" type="checkbox"  ng-model="cohortdefinition.isscheduled"> Enable scheduled task for this cohort definition
                        </div>
                    </div>
                    <div class="row col-lg-8">
                        <div class="">
                            <input ng-disabled="definitioninputdisabled(cohortdefinition.uuid)" type="checkbox"  ng-model="cohortdefinition.enableMemberAddition"> Enable Addition of members
                        </div>
                    </div>
                    <div class="row col-lg-8">
                        <div class="">
                            <input  ng-disabled="definitioninputdisabled(cohortdefinition.uuid)" type="checkbox"  ng-model="cohortdefinition.enableMemberRemoval"> Enable Removal of members
                        </div>
                    </div>
                    <div class="row col-lg-8">
                        <button type="submit" ng-disabled="definitionsavingdisabled(cohortdefinition.definition)" ng-click="save(cohortdefinition)" class="btn btn-primary">Save</button>
                        <button type="submit" ng-click="cancel()" class="btn btn-warning">Cancel</button>
                    </div>
                    <span></span>
                </form>
                </div>
        </div>
    </div>
</div>