<div id="wide-sidebar" class="row">
    <side-navigation menu-item="config"></side-navigation>
    <div class="col-lg-8">
        <div id='wait' class='loader'>
            &nbsp;
        </div>
        <div ng-switch="mode">
            <div ng-switch-when="view">
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <td>
                            <div class="col-lg-8 row">
                                <input class="form-control" placeholder="Configuration name ..." type="text" disabled="" ng-model="config.name">
                            </div>
                            <div class="col-lg-8 row">
									<textarea class="form-control" placeholder="Configuration description ..." rows="4" disabled="" ng-model="config.description">
									</textarea>
                            </div>
                            <div class="col-lg-8 row">
                                <input class="form-control" placeholder="Configuration uuid ..." type="text" disabled="" ng-model="config.uuid">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" ng-model="specialFields.showConfigJson"/>
                            <span>View Configuration</span>
                        </td>
                    </tr>
                    <tr ng-show="specialFields.showConfigJson">
                        <td>
                            <div class="tree well">
                                <ul id='treeul'>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <button type="submit" ng-click="edit()" ng-disabled="specialFields.stillLoading" class="btn btn-primary">
                                    <span ng-hide="specialFields.stillLoading">Edit</span>
                                    <span ng-show="specialFields.stillLoading"><i class="icon-refresh icon-spin"></i> Preparing... </span>
                                </button>
                                <button type="submit" ng-click="cancel()" class="btn btn-danger">Close</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-switch-when="edit">
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <td>
                            <div class=" col-lg-8 row">
                                <input class="form-control" placeholder="Configuration name ..." type="text" ng-model="config.name">
                            </div>
                            <div class="col-lg-8 row">
                                <textarea class="form-control" placeholder="Configuration description ..." rows="4" ng-model="config.description"></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="panel panel-default panel-body col-lg-12">
                                <uib-tabset active="active">
                                    <uib-tab index="0" heading="Forms">
                                        <div class="row col-lg-12">
                                            <div class="col-md-2" style="margin-top: 14px; padding: 0">
                                                <strong>Add Form</strong>
                                            </div>
                                            <div class="col-md-5" style="margin-top: 8px">
                                                <input type="text" class="form-control" ng-model="search.forms" placeholder="Search form by name ..." autocomplete="off"
                                                       uib-typeahead="form as form.name for form in forms | filter:$viewValue | limitTo:8"
                                                       uib-typeahead-wait-ms="500" typeahead-on-select="addForm($item)" uib-typeahead-editable="false"/>
                                            </div>
                                        </div>
                                        <div class="row col-lg-12">
                                            <select class="col-lg-10 selectClass" size="8">
                                                <option ng-click="chosenForm(form.uuid)" ng-repeat="form in configForms">{{form.name}}</option>
                                            </select>
                                            <button type="submit" ng-disabled="!selected.form" ng-click="removeForm()" class="btn btn-sm">Remove Form</button>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="1" heading="Cohorts">
                                        <div class="row col-lg-12">
                                            <div class="col-md-2" style="margin-top: 14px; padding: 0">
                                                <strong>Add Cohort</strong>
                                            </div>
                                            <div class="col-md-5" style="margin-top: 8px">
                                                <input type="text" ng-model="search.cohorts" class="form-control" placeholder="Search cohort by name ..." autocomplete="off"
                                                       uib-typeahead="cohort as cohort.name for cohort in cohorts | filter:$viewValue | limitTo:8"
                                                       uib-typeahead-wait-ms="500" typeahead-on-select="addCohort($item)" uib-typeahead-editable="false"/>
                                            </div>
                                        </div>
                                        <div class="row col-lg-12">
                                            <select class="col-lg-10 selectClass" size="8">
                                                <option ng-click="chosenCohort(cohort.uuid)" ng-repeat="cohort in configCohorts">{{cohort.name}}</option>
                                            </select>
                                            <button type="submit" ng-disabled="!selected.cohort" ng-click="removeCohort()" class="btn btn-sm">Remove Cohort</button>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="2" heading="Locations">
                                        <div class="row col-lg-12">
                                            <div class="col-md-2" style="margin-top: 14px; padding: 0">
                                                <strong>Add Location</strong>
                                            </div>
                                            <div class="col-md-5" style="margin-top: 8px">
                                                <input type="text" class="form-control" id="muzimaLocation" ng-model="search.locations"
                                                       placeholder="Search location by name ..." autocomplete="off"
                                                       uib-typeahead="location as location.name for location in locations | filter:$viewValue | limitTo:8"
                                                       uib-typeahead-wait-ms="500" typeahead-on-select="addLocation($item)" uib-typeahead-editable="false"/>
                                            </div>
                                        </div>
                                        <div class="row col-lg-12">
                                            <select class="col-lg-10 selectClass" size="8">
                                                <option ng-click="chosenLocation(location.uuid)" ng-repeat="location in configLocations">{{location.name}}</option>
                                            </select>
                                            <button type="submit" ng-disabled="!selected.location" ng-click="removeLocation()" class="btn btn-sm">Remove Cohort</button>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="3" heading="Providers">
                                        <div class="row col-lg-12">
                                            <div class="col-md-2" style="margin-top: 14px; padding: 0">
                                                <strong>Add Provider</strong>
                                            </div>
                                            <div class="col-md-5" style="margin-top: 8px">
                                                <input type="text" class="form-control" ng-model="search.providers" placeholder="Search provider by name ..." autocomplete="off"
                                                       uib-typeahead="provider as provider.name for provider in providers | filter:$viewValue | limitTo:8"
                                                       uib-typeahead-wait-ms="500" typeahead-on-select="addProvider($item)" uib-typeahead-editable="false"/>
                                            </div>
                                        </div>
                                        <div class="row col-lg-12">
                                            <select class="col-lg-10 selectClass" size="8">
                                                <option ng-click="chosenProvider(provider.uuid)" ng-repeat="provider in configProviders">{{provider.name}}</option>
                                            </select>
                                            <button type="submit" ng-disabled="!selected.provider" ng-click="removeProvider()" class="btn btn-sm">Remove Provider</button>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="4" heading="Concepts">
                                        <div class="row col-lg-12">
                                            <table class="col-lg-12 table-borderless">
                                                <tr align="center">
                                                    <td width="45%" align="left">
                                                        <label for="selectedConcepts" style="margin-top: 10px">Selected Concepts</label>
                                                        <input type="text" class="form-control" ng-model="search.concepts" placeholder="Add from the Server ..." autocomplete="off"
                                                               uib-typeahead="concept as concept.name.name for concept in concepts | filter:$viewValue | limitTo:15"
                                                               uib-typeahead-wait-ms="500" typeahead-on-select="addConcept($item)" uib-typeahead-editable="false"/>
                                                        <select class="selectClass" size="10" id="selectedConcepts" ng-model="selected.concepts"style="width: 100%; font-size: 11px" multiple="multiple">
                                                            <option ng-repeat="concept in configConcepts" value="{{concept}}">{{concept.name}}</option>
                                                        </select>
                                                        <button type="submit" ng-disabled="!selected.concepts.length" ng-click="removeSelected()" class="btn btn-sm">Remove Selected</button>
                                                    </td>
                                                    <td width="10%" align="center">
                                                        <button title="Move Selected" class="btn btn-sm" ng-disabled="!selected.eConcepts.length" ng-click="moveSelected()" style="width: 50px; height: 20px; padding: 0; margin-bottom: 2px">&lt;</button><br><br>
                                                        <button title="Move All" class="btn btn-sm" ng-disabled="!extractedNotUsedConcepts.length" ng-click="moveAll()" style="width: 50px; height: 20px; padding: 0">&lt;&lt;</button>
                                                    </td>
                                                    <td width="45%" align="left" valign="top">
                                                        <label for="extractedNotUsedConcepts" style="margin-top: 10px">Form Concepts</label>
                                                        <select class="selectClass" ng-disabled="specialFields.extractingMeta" size="14" id="extractedNotUsedConcepts" ng-model="selected.eConcepts" style="width: 100% ; font-size: 11px" multiple="multiple">
                                                            <option ng-repeat="concept in extractedNotUsedConcepts" value="{{concept}}">{{concept.name}}</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" ng-click="save(config)" class="btn btn-success">Save</button>
                            <button type="submit" ng-click="delete()" class="btn btn-danger" ng-show="config.uuid">Delete</button>
                            <button type="submit" ng-click="cancel()" class="btn btn-primary">Cancel</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div ng-show="specialFields.extractingMeta" class='loader'>
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>