<div id="wide-sidebar" class="row">
    <side-navigation menu-item="dashboard"></side-navigation>
    <div class="col-lg-8">
        <table width="100%" style="margin-top: 20px">
            <tbody>
            <tr>
                <td width="40%">
                </td>
                <td width="10%">
                    <qrcode data="{{baseURL}}"></qrcode>
                </td>
                <td width="40%">
                </td>
            </tr>
            </tbody>
        </table>
        <table width="100%">
            <tbody>
            <tr>
                <td width="30%">
                    <a href="#/forms" class="card-link" style="text-decoration: none;">
                        <div class="card dashboard-card" style="margin-left: 5px;">
                            <div class="card-header" style="text-align: center;  background: #34495e; color: white;">
                                <i class="fa fa-file-text"></i>  {{'general_muzima_forms' | translate}} ({{encounterForms+demographicsUpdateForms+personDemographicUpdateForms+genericRegistrationForms+registrationForms+relationshipForms}})
                            </div>
                            <div class="table-responsive">
                                <table class="card-table table">
                                    <tbody>
                                        <tr>
                                            <td>{{'general_encounter' | translate}}</td>
                                            <td>{{encounterForms}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'general_demographic_update' | translate}}</td>
                                            <td>{{demographicsUpdateForms+personDemographicUpdateForms}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'general_registration' | translate}}</td>
                                            <td>{{genericRegistrationForms+registrationForms}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'general_relationship' | translate}}</td>
                                            <td>{{relationshipForms}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="color: #ffffff; ">{{'general_relationship' | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </a>
                </td>
                <td width="30%">
                    <a href="#/queues" class="card-link" style="text-decoration: none;">
                        <div class="card dashboard-card" style="margin-left: 10px;">
                            <div class="card-header" style="text-align: center;  background: #34495e; color: white;">
                                <i class="fa fa-th-list"></i>  {{'general_queue_data' | translate}} ({{encounterQueue+demographicsUpdateQueue+genericRegistrationQueue+personDemographicUpdateQueue+registrationQueue+
                                relationshipQueue+individualObsQueue}})
                            </div>
                            <div class="table-responsive">
                                <table class="card-table table">
                                    <tbody>
                                        <tr>
                                            <td>{{'general_encounter' | translate}}</td>
                                            <td>{{encounterQueue}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'general_demographic_update' | translate}}</td>
                                            <td>{{demographicsUpdateQueue+personDemographicUpdateQueue}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'general_registration' | translate}}</td>
                                            <td>{{genericRegistrationQueue+registrationQueue}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'general_relationship' | translate}}</td>
                                            <td>{{relationshipQueue}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'general_individual_obs' | translate}}</td>
                                            <td>{{individualObsQueue}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </a>
                </td>
                <td width="30%">
                    <a href="#/errors" class="card-link" style="text-decoration: none;">
                        <div class="card dashboard-card" style="margin-left: 15px;">
                            <div class="card-header" style="text-align: center;  background: #34495e; color: white;">
                                <i class="fa fa-pencil"></i>  {{'general_error_data' | translate}} ({{encounterError+demographicsUpdateError+genericRegistrationError+personDemographicUpdateError+registrationError+
                                relationshipError+individualObsError}})
                            </div>
                            <div class="table-responsive">
                                <table class="card-table table">
                                    <tbody>
                                        <tr>
                                            <td>{{'general_encounter' | translate}}</td>
                                            <td>{{encounterError}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'general_demographic_update' | translate}}</td>
                                            <td>{{demographicsUpdateError+personDemographicUpdateError}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'general_registration' | translate}}</td>
                                            <td>{{genericRegistrationError+registrationError}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'general_relationship' | translate}}</td>
                                            <td>{{relationshipError}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'general_individual_obs' | translate}}</td>
                                            <td>{{individualObsError}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <table width="100%" style="margin-top: 20px">
            <tbody>
            <tr>
                <td width="30%">
                    <a href="#/configs" class="card-link" style="text-decoration: none;">
                        <div class="card dashboard-card" style="margin-left: 5px;">
                            <div class="card-header" style="text-align: center;  background: #34495e; color: white;">
                                <i class="fa fa-wrench"></i>  {{'general_setup_config' | translate}} ({{configs}})
                            </div>
                            <div class="table-responsive">
                                <table class="card-table table">
                                    <tbody>
                                        <tr>
                                            <td>{{'general_total_configs' | translate}}</td>
                                            <td>{{configs}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </a>
                </td>
                <td width="30%">
                    <a href="#/cohortDefinitions" class="card-link" style="text-decoration: none;">
                        <div class="card dashboard-card" style="margin-left: 10px;">
                            <div class="card-header" style="text-align: center;  background: #34495e; color: white;">
                                <i class="fa fa-group"></i>  {{'general_cohort_definitions' | translate}} ({{cohortdefinations}})
                            </div>
                            <div class="table-responsive">
                                <table class="card-table table">
                                    <tbody>
                                        <tr>
                                            <td>{{'general_total_definitions' | translate}}</td>
                                            <td>{{cohortdefinations}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </a>
                </td>
                <td width="30%">
                    <a href="#/reportConfigs" class="card-link" style="text-decoration: none;">
                        <div class="card dashboard-card" style="margin-left: 15px;">
                            <div class="card-header" style="text-align: center;  background: #34495e; color: white;">
                                <i class="fa fa-th-large"></i>  {{'general_report_configs' | translate}} ({{reportConfigs}})
                            </div>
                            <div class="table-responsive">
                                <table class="card-table table">
                                    <tbody>
                                        <tr>
                                            <td>{{'general_total_report_configs' | translate}}</td>
                                            <td>{{reportConfigs}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>