<div class="col-lg-14">
    <div class="modal-header alert-primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <label>{{'info_specify_setting_value' | translate}}</label>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-3">
                <label for="settingName">{{'general_name' | translate}}:</label>
            </div>
            <div class="col-lg-9">
                 <textarea id="settingName" class="form-control" rows="3" disabled="">{{setting.property + '_setting_name' | translate}}
                 </textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label for="settingDescription">{{'general_description' | translate}}:</label>
            </div>
            <div class="col-lg-9">
                        <textarea id="settingDescription" class="form-control" rows="7" disabled="">{{setting.property + '_setting_description' | translate}}
                        </textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label>{{'general_value' | translate}}:</label>
            </div>
            <div class="col-lg-9" ng-show="setting.datatype == 'STRING'">
                <input class="form-control" translate translate-attr-placeholder="general_setting_value" type="text" ng-model="setting.value">
            </div>
            <div class="col-lg-9" ng-show="setting.datatype == 'PASSWORD'">
                <input class="form-control" translate translate-attr-placeholder="general_setting_value" type="password" ng-model="setting.value">
            </div>
            <div class="col-lg-9" ng-show="setting.datatype == 'BOOLEAN'">
                <div class="col-lg-9">
                    <label class="label-input">
                        <input type="radio" name="datatype" ng-model="setting.value" ng-value="true"/> {{'general_enabled' | translate}}
                    </label>
                    <label class="label-input">
                        <input type="radio" name="datatype" ng-model="setting.value" ng-value="false"/>  {{'general_disabled' | translate}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <btn ng-click="dismiss()" class="btn btn-primary">{{'general_close' | translate}}</btn>
    </div>
</div>
<footer></footer>