<div id="wide-sidebar" class="row">
    <div class="col-lg-2">
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="#/sources">Data Source</a></li>
            <li><a href="#/queues">Queue Data</a></li>
            <li><a href="#/registrations">Registrations</a></li>
            <li><a href="#/forms">Muzima Forms</a></li>
            <li class="navigation-active"><a href="#/errors">Error Data</a></li>
        </ul>
    </div>
    <div class="col-lg-8">
        <table class="table">
            <tbody>
            <tr>
                <td>Sender</td>
                <td>{{error.source}}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Provider</td>
                <td>{{error.providerId}} - {{error.providerName}}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Location Id</td>
                <td>{{error.locationId}} - {{error.locationName}}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Form Name</td>
                <td>{{error.formName}}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Kind</td>
                <td>{{error.discriminator}}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Patient Uuid</td>
                <td>{{error.patientUuid}}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr ng-hide = "error.regErrorUuid == ''">
                <td>Registration Error</td>
                <td><a href="#/error/{{error.regErrorUuid}}">Registration Error</a></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Submitted On</td>
                <td>{{error.submitted}}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Processed On</td>
                <td>{{error.processed}}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td id = 'errorList' colspan="4">
                    <h6>Error list</h6>

                    <div class="messages">
                        <div ng-hide="isValid" class="alert alert-danger">Please correct the errors below.</div>
                    </div>
                    <div class="tree well errorlist">
                        <ul id='treeError'>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <h6>Uploaded Form Data <i  class="icon-edit"></i></h6>

                    <div  class="tree well" >
                        <ul id = 'treeul'>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr id = "editJsonSection">
                <td colspan="4" >
                    <h6>Edit Form Data <i class="icon-ok"></i>
                        <div class="messages">
                            <div ng-show="isValid" class="alert alert-success">Validation is successful! Use the save button to update form data.</div>
                        </div>
                    </h6>
                    <div class="well edit">
                        <textarea id="editJson" ></textarea>
                        <button id = "btnValidate" type="submit"  class="btn btn-primary">Validate</button>
                        <button id = "btnUpdate" type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Save</button>
                        <button id = "btnCancel" type="submit"  class="btn btn-danger">Close</button>
                    </div>

                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <button type="submit"  click="queue()" id = "btnQueue" class="btn btn-primary">Queue</button>
                    <button type="submit"  click="cancel()" id = "btnCancelQueue" class="btn btn-danger">Close</button>
                    <a class="btn" id="editData" href="#/edit/e38d2d5b-877a-4e9f-a9dd-6874e45a7b79" style="display: none;">Edit Data</a>
                </td>
            </tr>
            </tbody>
        </table>

    <div id='wait' class='loader'>
        &nbsp;
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Save changes</h4>
                </div>
                <div class="modal-body">
                    Confirm and save changes to the database?
                </div>
                <div class="modal-footer">
                    <button id = "btnNo" type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button id = "btnYes" type="button" class="btn btn-primary" >Yes</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
