<div id="wide-sidebar" class="row">
    <side-navigation menu-item="error"></side-navigation>
    <div class="col-lg-8">
        <table class="table">
            <tbody>
            <tr>
            <td width="50%">
                <div  style="height:40vh;border: 1px solid #999999; border-radius: 4px; overflow-y: auto;">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td>{{'general_sender' | translate}}</td>
                                <td>{{error.source}}</td>
                            </tr>
                            <tr>
                                <td>{{'general_provider' | translate}}</td>
                                <td>{{error.providerId}} - {{error.providerName}}</td>
                            </tr>
                            <tr>
                                <td>{{'general_location' | translate}}</td>
                                <td>{{error.locationId}} - {{error.locationName}}</td>
                            </tr>
                            <tr>
                                <td>{{'info_form_name' | translate}}</td>
                                <td>{{error.formName}}</td>
                            </tr>
                            <tr>
                                <td>{{'general_kind' | translate}}</td>
                                <td>{{error.discriminator}}</td>
                            </tr>
                            <tr>
                                <td>{{'general_patient_uuid' | translate}}</td>
                                <td>{{error.patientUuid}}</td>
                            </tr>
                            <tr ng-hide = "error.regErrorUuid == ''">
                                <td>{{'message_registration_error' | translate}}</td>
                                <td><a href="#/error/{{error.regErrorUuid}}">{{'message_registration_error' | translate}}</a></td>
                            </tr>
                            <tr>
                                <td>{{'general_submitted_on' | translate}}</td>
                                <td>{{error.submitted}}</td>
                            </tr>
                            <tr>
                                <td>{{'general_processed_on' | translate}}</td>
                                <td>{{error.processed}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td width="50%">
                <div id = 'errorList' style="height:38vh;">
                    <h6>{{'general_error_list' | translate}}</h6>

                    <div class="messages">
                        <div ng-hide="isValid" class="alert alert-danger">{{'alert_error_list' | translate}}</div>
                    </div>
                    <div class="tree well errorlist" ng-style="divHeight">
                        <ul id='treeError'>
                        </ul>
                    </div>
                </div>
            </td>
            </tr>
            <tr>
                <td width="50%">
                    <h6>{{'uploaded_form_data' | translate}} <i  class="fa fa-edit"></i></h6>

                    <div  class="tree well" >
                        <ul id = 'treeul'>
                        </ul>
                    </div>
                </td>
                <td width="50%">
                    <div  id = "editJsonSection">
                        <h6>{{'edit_form_data' | translate}} <i class="fa fa-check"></i>
                        </h6>
                        <div class="well edit">
                            <textarea id="editJson" ></textarea>
                            <div class="messages">
                                <div ng-show="isValid" class="alert alert-success w-100">{{'message_error_validation_successfull' | translate}}</div>
                            </div>
                            <button id = "btnValidate" type="submit"  class="btn btn-primary">{{'general_validate' | translate}}</button>
                            <button id = "btnUpdate" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">{{'general_save' | translate}}</button>
                            <button id = "btnSaveAndProcess" type="button" class="btn btn-warning" data-toggle="modal" data-target="#saveAndProcessModal">{{'general_save_and_process' | translate}}</button>
                            <button id = "btnCancel" type="submit"  class="btn btn-danger">{{'general_close' | translate}}</button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr ng-show="remove_error_data">
                <td colspan="4">
                    <input class="col-md-10 form-control remove-reason" translate translate-attr-placeholder="general_remove_reason" name="remove_reason" type="text" ng-model="removeReason" ng-show="remove_error_data" ng-required="remove_error_data"/>
                    <div ng-show="removeReasonError" style="color:red">{{'general_remove_reason_required' | translate}}</div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <button type="submit"  ng-click="queue()" id = "btnQueue" class="btn btn-primary">{{'general_queue' | translate}}</button>
                    <button type="submit" ng-click="toggleRemoveError()" class="btn btn-danger" ng-show="!remove_error_data">{{'general_remove' | translate}}</button>
                    <button type="submit" ng-click="delete()" class="btn btn-danger" ng-show="remove_error_data">{{'general_remove' | translate}}</button>
                    <button type="submit"  ng-click="cancel()" id = "btnCancelQueue" class="btn btn-warning">{{'general_close' | translate}}</button>
                    <a class="btn" id="editData" href="#/edit/e38d2d5b-877a-4e9f-a9dd-6874e45a7b79" style="display: none;">{{'general_edit_date' | translate}}</a>
                </td>
            </tr>
            </tbody>
        </table>

    <div id='wait' class='loader'>
        &nbsp;
    </div>
    <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{'error_modal_save_changes' | translate}}</h4>
                    </div>
                    <div class="modal-body">
                        {{'error_modal_save_changes_question' | translate}}
                    </div>
                    <div class="modal-footer">
                        <button id = "btnNo" type="button" class="btn btn-warning" data-dismiss="modal">{{'general_no' | translate}}</button>
                        <button id = "btnYes" type="button" class="btn btn-success" >{{'general_yes' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="saveAndProcessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modatLabel">{{'error_modal_save_and_process_changes' | translate}}</h4>
                    </div>
                    <div class="modal-body">
                        {{'error_modal_save_and_process_changes_question' | translate}}
                    </div>
                    <div class="modal-footer">
                        <button id = "btnSaveAndProcessNoButton" type="button" class="btn btn-warning" data-dismiss="modal">{{'general_no' | translate}}</button>
                        <button id = "btnSaveAndProcessYesButton" type="button" class="btn btn-success" >{{'general_yes' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>