<div id="wide-sidebar" class="row">
    <div class="col-lg-2">
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="#/sources">Data Source</a></li>
            <li><a href="#/configs">Setup Configurations</a></li>
            <li><a href="#/queues">Queue Data</a></li>
            <li><a href="#/registrations">Registrations</a></li>
            <li><a href="#/forms">Muzima Forms</a></li>
            <li class="navigation-active"><a href="#/errors">Error Data</a></li>
            <li><a href="#/settings">Settings</a></li>
        </ul>
    </div>
    <div class="col-lg-8">
        <p>This is the Merging page</p>
    </div>
</div>
