<div id="wide-sidebar" class="row" xmlns:margin-top="http://www.w3.org/1999/xhtml"
     xmlns:padding="http://www.w3.org/1999/xhtml">
    <div class="col-lg-2">
        <ul class="nav nav-tabs nav-stacked">
            <li class="navigation-active"><a href="#/sources">Data Source</a></li>
            <li><a href="#/configs">Setup Configurations</a></li>
            <li><a href="#/queues">Queue Data</a></li>
            <li><a href="#/registrations">Registrations</a></li>
            <li><a href="#/forms">Muzima Forms</a></li>
            <li><a href="#/errors">Error Data</a></li>
            <li><a href="#/patientReports">Patient Reports</a></li>
            <li><a href="#/settings">Settings</a></li>
        </ul>
    </div>
    <div class="col-lg-8">
        <div ng-switch="mode">
            <div ng-switch-when="view">
                

                <div class="row">
                    <input class="col-lg-10 form-control" placeholder="Cohort ..." type="text" disabled="" ng-model="source.uuid">
                </div>

                <div class="row">
                    <input class="col-lg-10 form-control" placeholder="Report name ..." type="text" disabled="" ng-model="source.name">
                </div>
                
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4 margin-top-lg pad-5 p-2 padding-5 style="margin-top: 14px; padding: 0">
                        <button type="submit" ng-click="" class="btn btn-success btn-large btn-lg btn-block ">Add to List</button>
                    </div>
                   </div>

                <div class="row" style="margin-top: 14px; padding: 0>
                    <textarea class="col-lg-12 form-control" placeholder="." rows="10" disabled="" ng-model="source.description">
                    </textarea>
                </div>
               
                <div class="row">
                    <button type="submit" ng-click="edit()" class="btn btn-primary">Edit</button>
                    <button type="submit" ng-click="cancel()" class="btn btn-danger">Close</button>
                </div>
                <span></span>
            </div>
            <div ng-switch-when="edit">
                <form id="consult">
                    <div class="row">
                        <input class="col-lg-10 form-control" placeholder="Cohort name ..." type="text" ng-model="source.name">
                    </div>

                    <div class="row">
                        <input class="col-lg-10 form-control" placeholder="Report" type="text" disabled="" ng-model="source.uuid">
                    </div>
                   

                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4 margin-top-lg pad-5 p-2 padding-5">
                            <button type="submit" ng-click="" class="btn btn-success btn-large btn-lg btn-block">Add to List</button>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 14px; padding: 0">
                        <textarea class="col-lg-12 form-control" placeholder="Report ..." rows="10" ng-model="source.description">
                        </textarea>
                    </div>
                   
                    <div class="row">
                        <button type="submit" ng-click="save(source)" class="btn btn-success">Save</button>
                        <button ng-show="source.uuid" type="submit" ng-click="delete()" class="btn btn-danger">Delete</button>
                        <button type="submit" ng-click="cancel()" class="btn btn-primary">Cancel</button>
                    </div>
                    <span></span>
                </form>
            </div>
        </div>
    </div>
</div>
