<div id="wide-sidebar" class="row">
    <side-navigation menu-item="duplicates"></side-navigation>
    <div class="col-lg-8">
        <div class="clearfix">
            <div class="row">
                <div class="col-lg-3 pull-right">
                    <input type="text" class="form-control" ng-model="search" placeholder="search..." style="padding-left: 10px;"/>
                </div>
            </div>
            <div class="row">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Examine</th>
                        <th>Provider</th>
                        <th>Location</th>
                        <th>Form Name</th>
                        <th>Kind</th>
                        <th>Patient Uuid</th>
                        <th>Submitted On</th>
                        <th>Processed On</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-hide="errors.length">
                        <td colspan="8">Hooray! You have no potential duplicates.</td>
                    </tr>
                    <tr ng-repeat="error in errors | orderBy:'submitted':true">
                        <td><a href="#/merge/{{error.uuid}}"  style="text-decoration: none"><i class="fa fa-pencil-square-o"></i></a></td>
                        <td>{{error.providerId}} - {{error.providerName}}</td>
                        <td>{{error.locationId}} - {{error.locationName}}</td>
                        <td>{{error.formName}}</td>
                        <td>{{error.discriminator}}</td>
                        <td>{{error.patientUuid}}</td>
                        <td>{{error.submitted}}</td>
                        <td>{{error.processed}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id='wait' class='loader'>
        &nbsp;
    </div>
</div>
<footer></footer>