<div id="wide-sidebar" class="row">
    <side-navigation menu-item="queue"></side-navigation>
    <div class="col-lg-8">
        <div id='wait' class='loader'>
            &nbsp;
        </div>
        <table class="table">
            <tbody>
            <tr>
                <td>{{'general_sender' | translate}}</td>
                <td>{{queue.source}}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>{{'general_kind' | translate}}</td>
                <td>{{queue.discriminator}}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>{{'general_submitted_on' | translate}}</td>
                <td>{{queue.submitted}}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>{{'general_patient_uuid' | translate}}</td>
                <td>{{queue.patientUuid}}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3"><p>{{queue.payload}}</p></td>
                <td>&nbsp;</td>
            </tr>
            <tr ng-show="remove_queue_data">
                <td colspan="4">
                    <input class="col-md-10 form-control remove-reason" translate translate-attr-placeholder="general_remove_reason" name="remove_reason" type="text" ng-model="removeReason" ng-show="remove_queue_data" ng-required="remove_queue_data"/>
                    <div ng-show="removeReasonError" style="color:red">{{'general_remove_reason_required' | translate}}</div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <button type="submit" ng-click="toggleRemoveQueue()" class="btn btn-danger" ng-show="!remove_queue_data">{{'general_remove' | translate}}</button>
                    <button type="submit" ng-click="delete()" class="btn btn-danger" ng-show="remove_queue_data">{{'general_remove' | translate}}</button>
                    <button type="submit" ng-click="cancel()" class="btn btn-primary">{{'general_cancel' | translate}}</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer></footer>