<div id="wide-sidebar" class="row">
    <side-navigation menu-item="patientReport"></side-navigation>
    <div class="col-lg-8">
        <div class="alert alert-danger alert-dismissible show" ng-show="error" role="alert">
            <strong>{{'general_error' | translate}}: </strong> {{ error.statusText }}
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'general_close' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id='wait' class='loader'>&nbsp;</div>
        <div ng-switch="mode">
            <div ng-switch-when="view">
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <td>
                            <div class="row">
                                <input class="form-control" translate-attr-placeholder="info_cohort_name" type="text" disabled="" ng-model="reportConfiguration.cohort">
                            </div>
                            <div class="row">
                                <input class="form-control" translate-attr-placeholder="placeholder_report_configuration" type="text" disabled="" ng-model="reportConfiguration.uuid">
                            </div>
                            <div class="row">
                                <input type="checkbox" name="priority" value="priority" ng-model="reportConfiguration.priority" disabled=""> {{'general_high_priority' | translate}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="tree well">
                                    <ul id='treeul'></ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" ng-click="edit()" class="btn btn-primary">{{'general_edit' | translate}}</button>
                            <button type="submit" ng-click="cancel()" class="btn btn-danger">{{'general_close' | translate}}</button>
                        </td>
                    </tr>
                </table>
                <span></span>
            </div>
            <div ng-switch-when="edit">
                <form id="consult" name="reportConfig">
                    <div class="row">
                        <input type="text" ng-model="search.cohorts" class="form-control" translate translate-attr-placeholder="info_search_cohort_by_name" ng-disabled="reportConfiguration.uuid" autocomplete="off"
                               uib-typeahead="cohort as cohort.name for cohort in cohorts | filter:$viewValue | limitTo:8"
                               uib-typeahead-wait-ms="500"  uib-typeahead-editable="false"/>
                    </div>

                    <div class="row">
                        <input type="checkbox" name="priority" value="priority" ng-model="reportConfiguration.priority"> {{'general_high_priority' | translate}}<br>
                    </div>
                    <div class="row">
                        <div class="panel panel-default panel-body col-lg-12">
                            <div active="active">
                                <div index="1" heading="Reports">
                                    <div class="row">
                                        <div class="col-md-2" style="margin-top: 14px; padding: 0">
                                            <strong>{{'general_add_report' | translate}}</strong>
                                        </div>
                                        <div class="col-md-10" style="margin-top: 8px">
                                            <input type="text" ng-required=true  ng-model="search.reports" class="form-control col-md-5" translate translate-attr-placeholder="general_search_report_by_name" autocomplete="off"
                                                   uib-typeahead="report as report.name for report in reports | filter:$viewValue | limitTo:8"
                                                   uib-typeahead-wait-ms="500" typeahead-on-select="addReport($item)" uib-typeahead-editable="false" style="float:right;"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <select class="col-lg-10 selectClass" size="8">
                                            <option ng-click="chosenReport(report.uuid)" ng-repeat="report in configReports">{{report.name}}</option>
                                        </select>
                                        <button type="submit" ng-disabled="!selected.report" ng-click="removeReport()" class="btn btn-sm">{{'general_remove_report' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1rem;">
                        <input class="form-control retire-reason" translate translate-attr-placeholder="general_retire_reason" name="retire_reason" type="text" ng-model="reportConfiguration.retireReason" ng-show="retireReportConfiguration" ng-required="retireReportConfiguration"/>
                        <div ng-show="retireReasonError" style="color:red">{{'general_retire_reason_required' | translate}}</div>
                    </div>
                    <div class="row" style="margin-top: 1rem;">
                        <button type="submit" ng-click="save(reportConfiguration)" class="btn btn-success">{{'general_save' | translate}}</button>&nbsp;
                        <button ng-click="toggleRetireReportConfiguration()" ng-show="!retireReportConfiguration && reportConfiguration.uuid" class="btn btn-danger">{{'general_retire' | translate}}</button>
                        <button type="submit" ng-show="retireReportConfiguration" ng-click="delete(reportConfiguration)" class="btn btn-danger">{{'general_retire' | translate}}</button>&nbsp;
                        <button type="submit" ng-click="cancel()" class="btn btn-primary">{{'general_cancel' | translate}}</button>&nbsp;
                    </div>
                    <span></span>
                </form>
            </div>
        </div>
    </div>
</div>
<footer></footer>