<div id="wide-sidebar" class="row">
    <side-navigation menu-item="setting"></side-navigation>
    <div class="col-lg-8">
        <div id='wait' class='loader'>
            &nbsp;
        </div>
        <div ng-switch="mode">
            <div ng-switch-when="view">
                <div class="row">
                    <div class="col-lg-2">
                        {{'general_name' | translate}}:
                    </div>
                    <div class="col-lg-10">
                        <input class="form-control" translate translate-attr-placeholder="hint_setting_name" type="text" disabled="" ng-model="setting.name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        {{'general_property' | translate}}:
                    </div>
                    <div class="col-lg-10">
                        <input class="form-control"  translate translate-attr-placeholder="hint_setting_property" type="text" disabled="" ng-model="setting.property">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        {{'general_description' | translate}}:
                    </div>
                    <div class="col-lg-10">
                        <textarea class="form-control"  translate translate-attr-placeholder="hint_setting_description" rows="10" disabled="" ng-model="setting.description">
                        </textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        {{'general_value' | translate}}:
                    </div>
                    <div class="col-lg-10" ng-show="setting.datatype == 'STRING'">
                        <input class="form-control"  translate translate-attr-placeholder="hint_setting_value" type="text" disabled="" ng-model="setting.value">
                    </div>
                    <div class="col-lg-10" ng-show="setting.datatype == 'PASSWORD'">
                        <input class="form-control"  translate translate-attr-placeholder="hint_setting_value" type="password" disabled="" ng-model="setting.value">
                    </div>
                    <div class="col-lg-10" ng-show="setting.datatype == 'BOOLEAN'">
                        <div class="col-lg-3">
                            <label class="label-input">
                                <input type="radio" name="datatype" ng-model="setting.value" ng-value="true" disabled=""/>
                                {{'general_enabled' | translate}}
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <label class="label-input">
                                <input type="radio" name="datatype" ng-model="setting.value" ng-value="false" disabled=""/>
                                {{'general_disabled' | translate}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        Uuid:
                    </div>
                    <div class="col-lg-10">
                        <input class="form-control"  translate translate-attr-placeholder="hint_setting_uuid" type="text" disabled="" ng-model="setting.uuid">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-10">
                        <button type="submit" ng-show="setting.uuid" ng-click="edit()" class="btn btn-primary">{{'general_edit' | translate}}</button>&nbsp;
                        <button type="submit" ng-click="cancel()" class="btn btn-warning">{{'general_close' | translate}}</button>
                    </div>
                </div>
                <span></span>
            </div>
            <div ng-switch-when="edit">
                <form id="consult">
                    <div class="row">
                        <div class="col-lg-2">
                            {{'general_name' | translate}}:
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control" translate translate-attr-placeholder="hint_setting_name" type="text" disabled="" ng-model="setting.name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            {{'general_property' | translate}}:
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control"  translate translate-attr-placeholder="hint_setting_property" type="text" disabled="" ng-model="setting.property">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            {{'general_description' | translate}}:
                        </div>
                        <div class="col-lg-10">
                        <textarea class="form-control"  translate translate-attr-placeholder="hint_setting_description" rows="10" disabled="" ng-model="setting.description">
                        </textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            {{'general_value' | translate}}:
                        </div>
                        <div class="col-lg-10" ng-show="setting.datatype == 'STRING'">
                            <input class="form-control"  translate translate-attr-placeholder="hint_setting_value" type="text" ng-model="setting.value">
                        </div>
                        <div class="col-lg-10" ng-show="setting.datatype == 'PASSWORD'">
                            <input class="form-control"  translate translate-attr-placeholder="hint_setting_value" type="password" ng-model="setting.value">
                        </div>
                        <div class="col-lg-10" ng-show="setting.datatype == 'BOOLEAN'">
                            <div class="col-lg-3">
                                <label class="label-input">
                                    <input type="radio" name="datatype" ng-model="setting.value" ng-value="true"/> {{'general_enabled' | translate}}
                                </label>
                            </div>
                            <div class="col-lg-3">
                                <label class="label-input">
                                    <input type="radio" name="datatype" ng-model="setting.value" ng-value="false"/>  {{'general_disabled' | translate}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            {{'general_uuid' | translate}}:
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control"  translate translate-attr-placeholder="hint_setting_uuid" type="text" disabled="" ng-model="setting.uuid">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">

                        </div>
                        <div class="col-lg-10">
                            <button type="submit" ng-click="save(setting)" class="btn btn-primary">{{'general_save' | translate}}</button>&nbsp;
                            <button type="submit" ng-click="cancel()" class="btn btn-warning">{{'general_cancel' | translate}}</button>
                        </div>
                    </div>
                    <span></span>
                </form>
            </div>
        </div>
    </div>
</div>
<footer></footer>