<div id="wide-sidebar" class="row">
    <div class="col-lg-2">
        <ul class="nav nav-tabs nav-stacked">
            <li class="navigation-active"><a href="#/sources">Data Source</a></li>
            <li><a href="#/configs">Setup Configurations</a></li>
            <li><a href="#/queues">Queue Data</a></li>
            <li><a href="#/registrations">Registrations</a></li>
            <li><a href="#/forms">Muzima Forms</a></li>
            <li><a href="#/errors">Error Data</a></li>
            <li><a href="#/patientReport">Patient Reports</a></li>
            <li><a href="#/settings">Settings</a></li>
        </ul>
    </div>
    <div class="col-lg-8">
        <div ng-switch="mode">
            <div ng-switch-when="view">
                <div class="row">
                    <input class="col-lg-10 form-control" placeholder="Source name ..." type="text" disabled="" ng-model="source.name">
                </div>
                <div class="row">
                    <textarea class="col-lg-12 form-control" placeholder="Source description ..." rows="10" disabled="" ng-model="source.description">
                    </textarea>
                </div>
                <div class="row">
                    <input class="col-lg-10 form-control" placeholder="Source uuid ..." type="text" disabled="" ng-model="source.uuid">
                </div>
                <div class="row">
                    <button type="submit" ng-click="edit()" class="btn btn-primary">Edit</button>
                    <button type="submit" ng-click="cancel()" class="btn btn-danger">Close</button>
                </div>
                <span></span>
            </div>
            <div ng-switch-when="edit">
                <form id="consult">
                    <div class="row">
                        <input class="col-lg-10 form-control" placeholder="Source name ..." type="text" ng-model="source.name">
                    </div>
                    <div class="row">
                        <textarea class="col-lg-12 form-control" placeholder="Source description ..." rows="10" ng-model="source.description">
                        </textarea>
                    </div>
                    <div class="row">
                        <input class="col-lg-10 form-control" placeholder="Source uuid ..." type="text" disabled="" ng-model="source.uuid">
                    </div>
                    <div class="row">
                        <button type="submit" ng-click="save(source)" class="btn btn-success">Save</button>
                        <button ng-show="source.uuid" type="submit" ng-click="delete()" class="btn btn-danger">Delete</button>
                        <button type="submit" ng-click="cancel()" class="btn btn-primary">Cancel</button>
                    </div>
                    <span></span>
                </form>
            </div>
        </div>
    </div>
</div>
