<div id="wide-sidebar" class="row">
    <side-navigation menu-item="source"></side-navigation>
    <div class="col-lg-8">
        <div id='wait' class='loader'>
            &nbsp;
        </div>
        <div ng-switch="mode">
            <div ng-switch-when="view">
                <div class="row">
                    <input class="col-lg-10 form-control" placeholder="Source name ..." type="text" disabled="" ng-model="source.name">
                </div>
                <div class="row">
                    <textarea class="col-lg-12 form-control" placeholder="Source description ..." rows="10" disabled="" ng-model="source.description">
                    </textarea>
                </div>
                <div class="row">
                    <input class="col-lg-10 form-control" placeholder="Source uuid ..." type="text" disabled="" ng-model="source.uuid">
                </div>
                <div class="row">
                    <button type="submit" ng-click="edit()" class="btn btn-primary">Edit</button>
                    <button type="submit" ng-click="cancel()" class="btn btn-danger">Close</button>
                </div>
                <span></span>
            </div>
            <div ng-switch-when="edit">
                <form id="consult" name="consult">
                    <div class="row">
                        <input class="col-lg-10 form-control" placeholder="Source name ..." type="text" ng-model="source.name">
                    </div>
                    <div class="row">
                        <textarea class="col-lg-12 form-control" placeholder="Source description ..." rows="10" ng-model="source.description">
                        </textarea>
                    </div>
                    <div class="row">
                        <input class="col-lg-10 form-control" placeholder="Source uuid ..." type="text" disabled="" ng-model="source.uuid">
                    </div>
                    <div class="row">
                        <input class="col-lg-10 form-control retire-reason" placeholder="Retire reason" name="retire_reason" type="text" ng-model="source.retireReason" ng-show="retire_source" ng-required="retire_source"/>
                    </div>
                    <div class="row">
                        <button type="submit" ng-click="save(source)" class="btn btn-success">Save</button>
                        <button ng-click="toggleRetireSource(source)" ng-show="!retire_source && source.uuid" class="btn btn-danger">Retire</button>
                        <button type="submit" ng-show="retire_source" ng-click="consult.$valid && delete(source)" class="btn btn-danger">Retire</button>
                        <button type="submit" ng-click="cancel()" class="btn btn-primary">Cancel</button>
                    </div>
                    <span></span>
                </form>
            </div>
        </div>
    </div>
</div>
<footer></footer>