<div id="wide-sidebar" class="row" ng-init="init()">
    <side-navigation menu-item="forms"></side-navigation>
    <div class="col-lg-9">
        <div class="clearfix">
            <div class="row navbar navbar-inverse navbar-custom">
                <a class="navbar-brand" href="#/forms" style="color: #ffffff; font-size: 20px"><i class="fa fa-home"></i></a>
                <div class="container-fluid navbar-right" style="float: right !important;margin-right: -20px;">
					<span class="nav navbar-nav form-group" ng-hide="!hasXForms() && searchIsEmpty()" style="margin-right: 5px">
						<form>
							<input type="text" class="form-control navbar-btn" ng-model="search" translate translate-attr-placeholder="general_search" style="padding-left: 5px; padding-right: 5px; margin-right: 5px">
						</form>
                    </span>
                    <span class="nav navbar-nav" style="margin-right: 5px">
                        <a href="#/xforms" class="btn btn-success" style="text-decoration: none;">
                            {{'import_x_forms' | translate}}
                        </a>&nbsp;
                        <a href="#/import/forms" class="btn btn-success" style="text-decoration: none;">
                            {{'general_upload' | translate}}
                        </a>
					</span>
                </div>
            </div>

            <div class="row" ng-hide="!hasXForms()">
                <div class="col-lg-8">
                    <h3>{{'import_x_forms' | translate}}</h3>
                </div>
            </div>
            <div class="row" ng-repeat="form in xForms | filter:searchQuery">
                <div class="col-lg-12 panel panel-default">
                    <div class="row panel panel-heading content_wrap">
                        <strong>{{form.name}}</strong>
                        <div class="pull-right">
                            <input type="radio" ng-model="$parent.selectedXformId"  ng-value="{{form.id}}"/>
                        </div>

                    </div>
                    <div>
                        <p>
                            <small>{{form.description || ""}}</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="!hasXForms() && xformsModuleStarted && searchIsEmpty()">
                <div class="col-lg-12 panel panel-default">
                    <div class="row panel panel-heading content_wrap">
                        <strong>{{'message_no_available_xforms' | translate}}</strong>
                    </div>
                    <div>
                        <p>{{'info_no_available_xforms' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="!hasXForms() && xformsModuleStarted && !searchIsEmpty()">
                <div class="col-lg-12">
                    <p>{{'message_no_results_xforms' | translate}}</p>
                </div>
            </div>
            <div class="row" ng-hide="xformsModuleStarted">
                <div class="col-lg-12 panel panel-danger">
                    <div class="row panel panel-heading content_wrap">
                        <strong>{{'message_no_xform_module' | translate}}</strong>
                    </div>
                    <div>
                        <p>
                            <span data-ng-bind-html="'info_no_xform_module' | translate"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class = "row panel panel-default" ng-show="totalItems > 1">
                <div class="col-lg-5">
                    <label for="xFormDiscriminator">{{'general_discriminator' | translate}} </label>
                    <select class="form-control" id="xFormDiscriminator" ng-model="discriminator" ng-options="discriminator for discriminator in discriminatorTypes" required="true" >
                    </select>
                </div>
            </div>
            <div class="row col-lg-12">
                <a href="#/forms" class="btn btn-danger" style="color: #ffffff; text-decoration: none; margin-top: 20px">{{'general_cancel' | translate}}</a>
                <button type="submit" class="btn btn-success" ng-show="isValidSelection()" class="btn btn-success" ng-click="importXForm()" style="color: #ffffff; text-decoration: none; margin-top: 20px">{{'general_done' | translate}}</button>
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="pageSize" boundary-links="true" force-ellipses="true" class="pull-right"></ul>
            </div>
        </div>
    </div>
</div>
<footer></footer>