<div id="wide-sidebar" class="row" ng-init = "init()">
    <side-navigation menu-item="forms"></side-navigation>
    <div class="col-lg-9">
        <div class="clearfix">
            <div class="row navbar navbar-inverse navbar-custom">
                <a class="navbar-brand" href="#/forms" style="color: #ffffff; font-size: 20px"><i class="fa fa-home"></i></a>
                <div class="container-fluid navbar-right" style="float: right !important;margin-right: -20px;">
                    <a href="#/xforms" class="btn btn-success" style="text-decoration: none;">
                        Import x-forms
                    </a>&nbsp;
                    <a href="#/import/forms" class="btn btn-success" style="text-decoration: none;">
                        Upload
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-7">
                    <div id="error-alert"></div>
                    <form role="form" ng-submit="upload(file, form, discriminator, formType)" name="formUpload">

                        <div class="panel panel-default panel-body">
                            <div class="form-group">
                                <label for="xFormFormDefinition">Form Definition</label>
                                <select ng-show="forms.length <= 10" class="form-control" id="xFormFormDefinition" ng-model="form" ng-options="form.name for form in forms" required="true" ng-change = loadData()>
                                </select>
                                <input ng-show="forms.length > 10" type="text" class="form-control" ng-model="searchForm" placeholder="Search form by name ..." autocomplete="off"
                                       uib-typeahead="form as form.name for form in searchForms | filter:$viewValue |filter:retired=false | limitTo:10"
                                       uib-typeahead-wait-ms="500" typeahead-on-select="selectForm($item)" uib-typeahead-editable="false"/>
                            </div>
                            <div class="form-group">
                                <label >Name</label>
                                <input type="text" class="form-control" id="xFormName" ng-model="name" placeholder="Enter name" ng-readonly="true">
                                <!--The field is used to validate the xFormName field above-->
                                <input id="xFormNameHidden" ng-model="name" required style="height: 0; border: 0; margin-top:-15px;outline: none;width: 1px;"/>
                            </div>
                            <div class="form-group">
                                <label for="xFormVersion">Version</label>
                                <input type="text" class="form-control" id="xFormVersion" ng-model="version" placeholder="Enter Version" required="true" readonly>
                            </div>
                            <div class="form-group">
                                <label for="xFormDescription">Description</label>
                                <textarea class="form-control" id="xFormDescription" rows="3" placeholder="Enter description" ng-model="description" readonly></textarea>
                            </div>
                            <div class="form-group">
                                <label for="xFormDiscriminator">Select Form Discriminator </label>
                                <select class="form-control" id="xFormDiscriminator" ng-model="discriminator" ng-options="discriminator for discriminator in discriminatorTypes" required="true" >
                                </select>
                            </div>
                        </div>
                        <div class = "panel panel-default panel-body">
                            <div class="form-group">
                                <file-upload message="Click here to upload form." />
                            </div>
                            <div class="form-group" ng-hide="isValidated()">
                                <div ng-show="hasFile()">
                                    <label for="formType">Select the FormType: </label>
                                    <select id="formType" ng-model="formType" name="formType">
                                        <option value="odk">ODK</option>
                                        <option value="html">HTML</option>
                                        <option value="javarosa">JavaRosa</option>
                                    </select>
                                </div>
                                <div ng-show="hasFile()">
                                    <button ng-click="cancel()" class="btn btn-danger">Cancel</button>
                                    <input type="button" ng-click="validate(file,formType)" class="btn btn-success" value="Validate">
                                </div>
                            </div>
                            <div ng-show = "isValidXForm()">
                                <div class="alert alert-success w-100">The Form is valid! Use the upload button to import it.</div>
                            </div>
                            <div ng-show="isInvalidXForm()">
                                <div class="row">
                                    <div class="col-lg-12 well-small">
                                        <button ng-click="validate(file, formType)" class="btn btn-success">Re-Validate</button>
                                    </div>
                                </div>
                                <div class="row" ng-repeat="validation in validations.list">
                                    <div class="col-lg-12 panel">
                                        <pre class="alert" ng-class="style(validation.type)">{{validation.message}}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="well-small">
                            <button ng-click="cancelUpload()" class="btn btn-danger">Cancel</button>
                            <button type="submit" class="btn btn-success" ng-disabled = "!isValidXForm()">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>