.form-control {
    margin-bottom: 8px;
}

.bootstrap-scope {
    font-size: 0.9em;
}


.navigation-active {
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05);
    border-right: 8px solid #eeeeee;
}

.navigation-active > a {
    text-decoration: none;
}
.tree {
    font-size: 11px;
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 300px;
    overflow: scroll;

}
.edit{

}
.edit textarea {
    width: 100%;
  height: 300px;

 }
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
.errorlist{
	height: auto;
}
.loader{
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url('../../images/wait.gif') 50% 50% no-repeat rgb(249,249,249);
      opacity: .8;
}
/*==============================================*/

.bs-overlap-correction-nolink {
    text-decoration: none;
}

/*==============================================*/
body{
    background-color: #ffffff;
}
.content{
    background-color: #ffffff;
}
.content_wrap {
    word-wrap: break-word;
}

.tag-filter-box {
    border: 1px solid #ddd;
    background-color: #c9d1d1;
    width: 100%;
}

.label {
    font-size: 11px;
}

.label-input {
    font-size: 14px;
    font-weight:normal;
    color:#000;
}

.form-tag {
    margin-top: 4px;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.navbar-custom {
    background-color: #34495e;
}

.white-text {
    color: #ffffff;
}

.search-element {
    margin-right: 20px;
}

.close-box {
    border: 1px solid #D4D8D8;
    border-radius: 4px;
    text-align: center;
}

.form-heading {
    font-size: 20px;
}

.tag {
    margin: 2px;
}

.prettyFileInput > input {
    display: none !important;
}

.retire-form{
    float: right;
    font-size: 14px;
    margin-top: 4px;
}
.retire-form .icon-remove{
    font-size: 16px;
}
.retire-form .retire-reason{
    padding: 0 5px 0 5px;
    border-radius: 4px;
    height: 25px;
    margin-top: -4px;
}

.retire-form .retire-reason-error{
    padding: 0 5px 0 5px;
    border-radius: 4px;
    height: 25px;
    margin-top: -4px;
    border-color: red;
}

.retire-form .btn{
    height: 25px;
    padding: 2px 10px;
    margin-top: -4px;
}

.nav-tabs.nav-stacked > li > a {
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.modal-dialog {
    margin: 0;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%)!important;
}


/* Styles go here */
.ng-modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.5);
    opacity: 0.8;
}

.ng-modal-dialog {
    background-color: #fff;
    box-shadow: 10px 10px #595554;
    border-radius: 4px;
    z-index:10000;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ng-modal-dialog-content {
    padding:10px;
    text-align: left;
    margin-top: 30px;
    font-size: 18px !important;
}

.ng-modal-close {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
    font-family: 'arial', 'sans-serif';
}

.fill-height {
    height: 100% !important;
    min-height: 100% !important;
}

.wizard-nav-bar {
    position: absolute;
    bottom:10px;
    left: 30px;
    right: 30px;
}

.half-wizard-nav-bar {
    position: absolute;
    bottom:10px;
    left: 30px;
    right: 300px;
}

.btn-success,.wizard-active {
    background-color: #229f98 !important;
    color: #ffffff !important;
}

.wizard-completed i{
    color: #229f98 !important;
    font-size:1.3em;
}

.learn-more, .link{
    color:#2196f3 !important;
    text-decoration: underline;
}

#config-wizard-dialog{
    min-width: 950px;
}

.col-lg-8 {
    flex: 0 0 80%;
    max-width: 80%;
    overflow-x: auto;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
}

.navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
}

.navbar .container, .navbar .container-fluid, .navbar .container-sm, .navbar .container-md, .navbar .container-lg, .navbar .container-xl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    width: fit-content;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.wizard-search-container ul,.wizard-search-container ul > li {
    background-color: #1a1a1a;
}

.wizard-search-container ul > li > a{
    text-decoration: none;
}

.review-list-group-item{
    color:#666;
}


